.use-case {
    background-color: #b8e6bf;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .use-case a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
  }
  .use-case:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  body {
    overflow: hidden;
  }
  
  /* Show scrollbar for specific elements */
  body,
  .App {
    overflow-y: auto; /* Enable vertical scrollbar */
  }